@import './variable';

body {
  background-color: #f8fafc;
}

#sidebar {
  background: #fff;
  color: #66788a;
  border-right: 1px solid #dfe3e8;
}

a:hover {
  color: $primaryColor;
}

#sidebar .sidebar-header {
  border-bottom: 1.5px solid #dfe3e8;
}

#sidebar ul p {
  color: #fff;
}

ul ul a {
  background: #6d7fcc;
}

.author-info {
  border-bottom: 1.5px solid #dfe3e8;

  .name {
    color: #444;
  }
  .avatar {
    // border: 5px solid #b15eca;
    background: $primaryGradientFB;
    background: $primaryGradientColor;
    padding: 4px;
  }
}

nav {
  .nav-list {
    border-bottom: 0px solid #47748b;

    li {
      &.active {
        border-left: 4px solid $primaryColor;
        color: black;
        background-color: #f6f9fd;
        a {
          color: #12161b;
        }
        i {
          color: $primaryColor;
        }
        .icon {
          svg {
            fill: $primaryColor;
            g {
              fill: $primaryColor;
            }
          }
        }
      }
      &:hover {
        border-left: 4px solid $primaryColor;

        background-color: #f6f9fd;
      }
      .icon {
        svg {
          fill: #66788a;
          g {
            fill: #66788a;
          }
        }
      }
    }
  }
}

.fullscreen-loading {
  background: white;
}

.row-header-wrapper,
.row-content-wrapper {
  border: 1px solid #dfe3e8;

  background-color: #fff;
}

.row-content-wrapper {
  border-top: 0px solid black;
  .post:hover {
    background-color: #f8fafc;
  }
  .row-content {
    border-bottom: 1px solid #dfe3e8;
    // > div {
    //   border-right: 1px solid #dfe3e8;
    // }
  }
}

.dropzone {
  .dropzone-filedrop {
    background: white;
    border: 1px dashed #ced4da;
    &.image-prev {
      &::before {
        background: $primaryGradientFB;
        background: $primaryGradientColor;
        color: white;
      }
    }
  }
}

.quill {
  background: white;
}

.empty {
  a {
    &::before {
      background: $primaryGradientFB;
      background: $primaryGradientColor;
    }
  }
}
