$generalFonts: 'Roboto', 'Fira Sans', Arial, Helvetica, sans-serif;
// $primaryColor: #0767db;
$primaryColor: #b15eca;
$primaryGradientColor: linear-gradient(to right, #ff8a00, #b15eca);
$primaryGradientFB: #b15eca;
$widthContainer: 1250px;
$widthPostContainer: 1000px;
$tabletLandscape: 1024px;
$tabletPortrait: 812px;
$mobile: 500px;
