@import './variable';

body {
  font-family: $generalFonts;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 271px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  overflow: scroll;
  transition: all 0.3s;
}

// .row {
//   // margin: 0;
// }

.content {
  width: calc(100% - 271px);
  margin-left: 271px;
  padding: 35px 20px;
  position: relative;
  min-height: 100vh;
}

p {
  font-weight: 400;
  line-height: 1.7em;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px 70px;
  text-align: center;
  margin-bottom: 25px;
}

#sidebar ul p {
  padding: 10px;
}

#sidebar ul li a {
  font-weight: 700;
  display: block;
}
ul ul a {
  padding-left: 30px !important;
}

// a
.alert {
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  i {
    margin-right: 10px;
  }
  &.alert-success {
    background-color: springgreen;
    border: 0px solid black;
    box-shadow: 0px 0px 14px 2px springgreen;
  }
  &.alert-danger {
    background-color: red;
    color: darkred;
    border: 0px solid black;
    box-shadow: 0px 0px 14px 2px red;
  }
}

.author-info {
  text-align: center;
  padding-bottom: 13px;
  .avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto 17px;
    object-fit: cover;
    border-radius: 100%;
  }
  .name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
  }
  .role {
    font-weight: 500;
    font-size: 14px;
  }
}

// b

.btn {
  font-size: 13.5px;
  &.add-new {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px 5px rgba(0, 127, 255, 0.5);
    i {
      font-size: 35px;
    }
  }
}

// d
.dropzone {
  .dropzone-filedrop {
    text-align: center;
    padding: 30px;
    cursor: pointer;
    p {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 13px;
    }
    &.image-prev {
      position: relative;
      padding: 0;
      &::before {
        content: "Change company's logo";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 10px;
        font-weight: 600;
      }
      &.avatar::before {
        content: 'Change profile picture';
      }
    }
  }
}

// e
.empty {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    font-weight: 700;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      border-radius: 10px;
      width: 100%;
      height: 4px;
    }
  }
}

// f
form {
  .form-group {
    label {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 900;
      letter-spacing: 2px;
      display: block;
      margin-top: 0.5rem;
    }
    .DateInput {
      cursor: pointer;
      input {
        cursor: pointer;
      }
    }
    .DateRangePickerInput,
    .DateRangePicker {
      display: block;
    }
    .DateInput,
    .DateRangePickerInput_arrow {
      width: 100%;
      display: block;
      text-align: center;
      input {
        text-align: center;
      }
      svg {
        display: none;
      }
    }
    .DateRangePickerInput_arrow {
      &::before {
        content: 'To';
        background: #484848;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 40px;
        width: 40px;
        border-radius: 20px;
      }
    }
    input {
      // border: 1px solid rgb(109, 109, 109);
      // border-top: 0px solid;
      // border-left: 0px solid;
      // border-right: 0px solid;
      padding: 20px;
    }
    input,
    textarea {
      border-radius: 2px;
    }
  }
}

.fullscreen-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 999999;
  svg {
    width: 100px;
    height: 100px;
  }
}

// i
.invalid-feedback {
  display: inline;
  color: white;
  background: red;
  padding: 5px 8px;
  border-radius: 3px;
}

// l
.login-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .company-logo {
    margin-bottom: 50px;
    img {
      width: 200px;
    }
  }
}

// n
nav {
  .nav-list {
    padding: 20px 10px;
    li {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      margin-top: 8px;
      padding: 11px 16px;
      transition: all 0.3s;
      .icon {
        svg {
          height: 20px;
          width: 20px;
          padding: 1px;
          margin-right: 15px;
          transition: all 0.3s;
        }
      }
      i {
        font-size: 13px;
        min-width: 32px;
        transition: all 0.3s;
      }
      a {
        padding: 0;
        font-size: 13px;
        transition: all 0.3s;
      }
      &.active {
        border-radius: 4px;
        pointer-events: none;
      }
      &:hover {
        border-radius: 4px;
        transition: all 0.3s;
        a {
          transition: all 0.3s;
        }
        i {
          transition: all 0.3s;
        }
      }
    }
  }
}

// p
.pointer-events-none {
  pointer-events: none;
}

.posts-parent {
  .row-content-wrapper {
    margin-bottom: 14px;
  }
  .post {
    div {
      font-size: 13.5px;
    }
  }
}

// q
.quill {
  .ql-container {
    height: 300px;
  }
}

// r

.row-header-wrapper,
.row-content-wrapper {
  width: 100%;
  border-radius: 0px;
  display: flex;
  flex-wrap: wrap;
  .index {
    width: 5%;
  }
  .title {
    width: 45%;
  }
  .author {
    width: 20%;
  }
  .last-updated {
    width: 20%;
  }
  .action {
    width: 10%;
    button {
      font-size: 10px;
    }
    .dropdown-menu {
      padding: 5px 0;
      transform: translate3d(-62px, 53px, 0px) !important;
      a {
        cursor: pointer;
        padding: 5px;
      }
      hr {
        margin: 2.5px;
      }
    }
  }
}

.route-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: -1px;
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    border-radius: 100px;
    height: 100%;
    background: linear-gradient(to bottom, #ff8a00, #b15eca);
  }
}

.row-content-wrapper {
  display: block;
  .row-content {
    display: flex;
    flex-wrap: wrap;
    div {
      padding: 20px;
    }
    > div {
      font-size: 13.5px;
    }
  }
}

.pagination-custom {
  text-align: left;
  .prev-button {
    font-size: 12px;
    margin-right: 5px;
    i {
      // margin-right: 8px;
    }
  }
  .next-button {
    font-size: 12px;
    i {
      // margin-left: 8px;
    }
  }
}

.row-header-wrapper {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 12px;
  .row-header {
    font-weight: 600;
    padding: 20px;
  }
}

// s
.sidebar-header.company-logo {
  img {
    max-width: 50px;
  }
}
